.index{
  background-color: rgb(193, 217, 222);
  margin:  0 5px 0 5px;
  padding: 0 5px 0 5px;
  width: 90%;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}
h2, h3 {
  padding-left: 15px;
}