h2 {
  padding: 5px 10px 0px 10px;
}
h3 {
  padding: 0px 10px 15px 10px;
}
.item-name{
  background-color: rgb(193, 217, 222);
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  box-shadow: 3px 5px;
  margin: 5px 0 5px 25px;
  padding: 0 5px 0 5px;
  width: 90%;
}
.ctr{
  text-align: center;
}
.date{
  width: 100px;
  text-align: right;
}
.justify-right{
  text-align: right;
}
td{
  height: 30px;
  padding: 5px 10px 5px 10px;
}
td{
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  height: 30px;
  padding: 5px 10px 5px 10px;
}