td{
  margin: 0 3px 0 20px;
}

tbody{
  background-color: rgb(193, 217, 222);
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  box-shadow: 3px 5px;
  margin: 5px 0 5px 25px;
  padding: 0 5px 0 5px;
  width: 90%;
}
h2 {
  padding: 5px 10px 0px 10px;
}
h3 {
  padding: 0px 10px 15px 10px;
}